body {
  font-family: "Rubik", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #8fd0d3;
}

#navbar-nav {
  list-style-type: none;
  overflow: hidden;
  display: inline;
}

#navbar-nav li a {
  display: block;
  text-align: center;
  padding: 0px 16px;
  font-weight: bold;
  float: right;
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: color 1s;
}

#navbar-nav li a:hover {
  text-decoration: none;
  color: black;
}

#nav-title {
  float: left;
  display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding-top: 17px;
}

#intro-text {
  margin-top: 180px;
  font-weight: bold;
  font-size: 50px;
}

#home-photo {
  width: 650px;
  height: 400px;
  margin-top: 130px;
}

#home-box-link {
  font-size: 17px;
  text-align: center;
  height: 50px;
  width: 150px;
  outline: 5px solid white;
  margin-top: 10px;
  text-align: center;
  padding: 12px 0;
  color: white;
  justify-content: space-around;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease, outline 1s ease;
  display: block;
}

#home-box-link:hover {
  text-decoration: underline solid Currentcolor;
  outline: 5px solid transparent;
}

#resume-name {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 75px;
  margin-bottom: 15px;
  display: block;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: none;
  padding: 4px;
  margin-left: 10px;
  margin-bottom: 7px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#resume-title {
  margin-top: 30px;
  font-size: 35px;
  font-weight: 600;
  background-color: none;
  border: none;
  background: none;
  display: block;
  outline: none;
}

#resume-lang-list li {
  list-style-type: none;
  margin-top: 8px;
  font-weight: 450;
  font-size: 25px;
}

#resume-tools-list li {
  list-style-type: none;
  margin-top: 8px;
  font-weight: 450;
  font-size: 25px;
}

#resume-subtitle {
  display: block;
  margin-top: 8px;
  font-weight: 450;
  font-size: 30px;
  font-style: normal;
}

#resume-projects {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  display: block;
  font-style: italic;
  font-weight: 450;
}

#resume-projects a {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  font-style: italic;
  font-weight: 450;
}

#resume-project-desc {
  width: 600px;
  font-style: normal;
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
}

#resume-experience {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  display: block;
  font-style: italic;
  font-weight: 450;
}

#resume-experience a {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  font-style: italic;
  font-weight: 450;
}

#resume-experience-desc {
  width: 600px;
  font-style: normal;
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
}

#resume-education {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  font-style: italic;
  font-weight: 450;
  display: block;
}

#azure-link {
  color: white;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
}

#azure-link:hover {
  text-decoration: underline solid Currentcolor;
  outline: 5px solid transparent;
}

#outer-container {
  border: 5px solid white;
  border-radius: 10px;
}

#inner-container {
  margin-left: 10px;
}

#contactTitleRow {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 75px;
}

#contactTitle {
  font-size: 40px;
  font-weight: bold;
}

#contactTextRow1 {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

#contactTextRow2 {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

#contactEmail {
  font-size: 30px;
}

#contactLinked {
  font-size: 30px;
  color: black;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease, color 1s ease;
}

#contactLinked:hover {
  text-decoration: underline solid Currentcolor;
  color: white;
}

#about-text-row1 {
  float: left;
  margin-top: 150px;
  font-size: 20px;
}

#about-text-row2 {
  float: right;
  margin-top: 80px;
  font-size: 20px;
  text-align: right;
}

#about-text-row3 {
  float: left;
  margin-top: 10px;
  font-size: 20px;
}

#about-1 {
  width: 300px;
  height: 300px;
  margin-top: 130px;
}

#about-container {
  justify-content: space-around;
  align-items: center;
}

#about-1-col {
  margin-left: 50px;
}

#about-2 {
  width: 300px;
  height: 300px;
  margin-top: 30px;
}

#about-2-col {
  margin-right: 50px;
}

#homebox1-col {
  margin-left: 10px;
}

#home-col {
  margin-right: 40px;
}

@media only screen and (max-width: 700px) {
  body {
    font-family: "Rubik", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #8fd0d3;
  }

  #navbar-nav {
    list-style-type: none;
    text-align: center;
    display: inline;
  }

  #navbar-nav li a {
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    float: none;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: color 1s;
  }

  #navbar-nav li a:hover {
    text-decoration: none;
    color: black;
  }

  #intro-text {
    margin-top: 100px;
    font-weight: bold;
    font-size: 50px;
  }

  #home-col {
    margin-right: 0px;
  }

  #home-photo {
    display: none;
  }

  #homebox1-col {
    margin-left: 0px;
  }

  #home-box-link {
    font-size: 17px;
    text-align: center;
    height: 50px;
    width: 150px;
    outline: 5px solid white;
    margin-top: 30px;
    text-align: center;
    padding: 12px 0;
    color: white;
    justify-content: space-around;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease, outline 1s ease;
    display: block;
  }

  #home-box-link:hover {
    text-decoration: underline solid Currentcolor;
    outline: 5px solid transparent;
  }

  /*ABOUT PAGE - MOBILE*/
  #about-text-row1 {
    float: left;
    margin-top: 100px;
    font-size: 20px;
  }

  #about-text-row2 {
    float: right;
    margin-top: 60px;
    font-size: 20px;
    text-align: right;
  }

  #about-text-row3 {
    float: left;
    margin-top: 10px;
    font-size: 20px;
  }

  #about-1 {
    width: 300px;
    height: 300px;
    margin-top: 40px;
    align-content: center;
  }

  #about-container {
    justify-content: space-around;
    align-items: center;
  }

  #about-1-col {
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  #about-2 {
    display: none;
  }

  #about-2-col {
    margin-right: 0px;
  }
  /*RESUME-MOBILE*/
  #resume-name {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 75px;
    margin-bottom: 15px;
    display: block;
    justify-content: space-around;
    align-items: center;
    display: none;
  }

  .arrow {
    display: inline-block;
  }

  #resume-title {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 600;
    float: left;
    text-align: left;
    cursor: pointer;
  }

  #resume-lang-list {
    list-style-type: none;
    margin-top: 8px;
    font-weight: 450;
    font-size: 25px;
    display: none;
    width: 600px;
  }

  #resume-tools-list {
    list-style-type: none;
    margin-top: 8px;
    font-weight: 450;
    font-size: 25px;
    display: none;
  }

  #resume-subtitle {
    display: block;
    margin-top: 8px;
    font-weight: 450;
    font-size: 30px;
    font-style: normal;
  }

  #resume-projects {
    list-style-type: none;
    margin-top: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: 450;
    display: none;
  }

  #resume-experience {
    list-style-type: none;
    margin-top: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: 450;
    display: none;
  }

  #resume-education {
    list-style-type: none;
    margin-top: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: 450;
    display: none;
  }

  #resume-subsubtitle a {
    list-style-type: none;
    margin-top: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: 450;
  }

  #resume-project-desc {
    font-style: normal;
    width: 300px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
  }

  #resume-experience-desc {
    font-style: normal;
    width: 300px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
  }

  #azure-link {
    color: white;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
  }

  #azure-link:hover {
    text-decoration: underline solid Currentcolor;
    outline: 5px solid transparent;
  }

  #outer-container {
    border: none;
  }

  #inner-container {
    margin-left: 0px;
  }
}
