body {
  font-family: "Rubik", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #8fd0d3;
}

#navbar-nav {
  list-style-type: none;
  overflow: hidden;
  display: inline;
}

#navbar-nav li a {
  display: block;
  text-align: center;
  padding: 0px 16px;
  font-weight: bold;
  float: right;
  text-decoration: none;
  font-size: 20px;
  color: #e9ffff;
  transition: color 1s;
}

#navbar-nav li a:hover {
  text-decoration: none;
  color: black;
}

#nav-title {
  float: left;
  display: block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-top: 17px;
}

#intro-text {
  margin-top: 180px;
  font-weight: bold;
  font-size: 50px;
}

#home-photo {
  width: 650px;
  height: 400px;
  margin-top: 130px;
}

#home-box-link1 {
  font-size: 17px;
  text-align: center;
  height: 50px;
  width: 150px;
  outline: 5px solid white;
  margin-top: 10px;
  text-align: center;
  padding: 12px 0;
  color: white;
  justify-content: space-around;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease, outline 1s ease;
  display: block;
}

#home-box-link1:hover {
  text-decoration: underline solid Currentcolor;
}

#home-box-link2 {
  font-size: 17px;
  text-align: center;
  height: 50px;
  width: 150px;
  outline: 5px solid white;
  margin-top: 10px;
  text-align: center;
  padding: 12px 0;
  color: white;
  justify-content: space-around;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease, outline 1s ease;
  display: block;
}

#home-box-link2:hover {
  text-decoration: underline solid Currentcolor;
}

#resume-name {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: 75px;
  margin-bottom: 15px;
  display: block;
  justify-content: space-around;
  align-items: center;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: none;
  padding: 4px;
  margin-left: 10px;
  margin-bottom: 7px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#resume-title {
  margin-top: 30px;
  font-size: 35px;
  font-weight: 600;
  background-color: none;
  border: none;
  background: none;
  display: block;
  outline: none;
}

#resume-lang-list li {
  list-style-type: none;
  margin-top: 8px;
  font-weight: 450;
  font-size: 25px;
}

#resume-tools-list li {
  list-style-type: none;
  margin-top: 8px;
  font-weight: 450;
  font-size: 25px;
}

#resume-subtitle {
  display: block;
  margin-top: 8px;
  font-weight: 450;
  font-size: 30px;
  font-style: normal;
}

#resume-projects {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  display: block;
  font-style: italic;
  font-weight: 450;
}

#resume-projects a {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  font-style: italic;
  font-weight: 450;
}

#resume-project-desc {
  width: 600px;
  font-style: normal;
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
}

#resume-experience {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  display: block;
  font-style: italic;
  font-weight: 450;
}

#resume-experience a {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  font-style: italic;
  font-weight: 450;
}

#resume-experience-desc {
  width: 600px;
  font-style: normal;
  margin-top: 10px;
  font-size: 20px;
  font-weight: normal;
}

#resume-education {
  list-style-type: none;
  margin-top: 8px;
  font-size: 15px;
  font-style: italic;
  font-weight: 450;
  display: block;
}

#azure-link {
  color: white;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease;
}

#azure-link:hover {
  text-decoration: underline solid Currentcolor;
  outline: 5px solid transparent;
}

#outer-container {
  border: 5px solid white;
  border-radius: 10px;
}

#inner-container {
  margin-left: 10px;
}

#contactTitleRow {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 75px;
}

#contactTitle {
  font-size: 40px;
  font-weight: bold;
}

#contactTextRow1 {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

#contactTextRow2 {
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

#contactEmail {
  font-size: 30px;
}

#contactLinked {
  font-size: 30px;
  color: black;
  text-decoration: underline solid transparent;
  transition: text-decoration 1s ease, color 1s ease;
}

#contactLinked:hover {
  text-decoration: underline solid Currentcolor;
  color: white;
}

#about-text-row1 {
  float: left;
  margin-top: 150px;
  font-size: 20px;
}

#about-text-row2 {
  float: right;
  margin-top: 80px;
  font-size: 20px;
  text-align: right;
}

#about-text-row3 {
  float: left;
  margin-top: 10px;
  font-size: 20px;
}

#about-1 {
  width: 300px;
  height: 300px;
  margin-top: 130px;
}

#about-container {
  justify-content: space-around;
  align-items: center;
}

#about-1-col {
  margin-left: 50px;
}

#about-2 {
  width: 300px;
  height: 300px;
  margin-top: 30px;
}

#about-2-col {
  margin-right: 50px;
}

#homebox1-col {
  margin-left: 10px;
}

#home-col {
  margin-right: 40px;
}

@media only screen and (max-width: 700px) {
  body {
    font-family: "Rubik", sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
    padding-left: 50px;
    background-color: #8fd0d3;
  }

  #navbar-nav {
    list-style-type: none;
    text-align: center;
    display: inline;
  }

  #navbar-nav li a {
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    float: none;
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: color 1s;
  }

  #navbar-nav li a:hover {
    text-decoration: none;
    color: black;
  }

  #intro-text {
    margin-top: 100px;
    font-weight: bold;
    font-size: 50px;
  }

  #home-col {
    margin-right: 0px;
  }

  #home-photo {
    display: none;
  }

  #homebox1-col {
    margin-left: 0px;
  }

  #home-box-link {
    font-size: 17px;
    text-align: center;
    height: 50px;
    width: 150px;
    outline: 5px solid white;
    margin-top: 30px;
    text-align: center;
    padding: 12px 0;
    color: white;
    justify-content: space-around;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease, outline 1s ease;
    display: block;
  }

  #home-box-link:hover {
    text-decoration: underline solid Currentcolor;
    outline: 5px solid transparent;
  }

  /*ABOUT PAGE - MOBILE*/
  #about-text-row1 {
    float: left;
    margin-top: 100px;
    font-size: 20px;
  }

  #about-text-row2 {
    float: right;
    margin-top: 60px;
    font-size: 20px;
    text-align: right;
  }

  #about-text-row3 {
    float: left;
    margin-top: 10px;
    font-size: 20px;
  }

  #about-1 {
    width: 300px;
    height: 300px;
    margin-top: 40px;
    align-content: center;
  }

  #about-container {
    justify-content: space-around;
    align-items: center;
  }

  #about-1-col {
    margin-left: 0px;
    display: flex;
    justify-content: space-around;
    align-content: center;
  }

  #about-2 {
    display: none;
  }

  #about-2-col {
    margin-right: 0px;
  }
  /*RESUME-MOBILE*/
  #resume-name {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 75px;
    margin-bottom: 15px;
    display: block;
    justify-content: space-around;
    align-items: center;
    display: none;
  }

  #outer-container {
    margin-left: -30px;
  }

  #inner-container {
    margin-left: 0px;
  }

  .arrow {
    display: none;
  }

  #resume-title {
    margin-top: 30px;
    font-size: 35px;
    font-weight: 600;
    float: left;
    text-align: left;
    cursor: pointer;
  }

  #resume-lang-list {
    list-style-type: none;
    margin-top: 8px;
    font-weight: 450;
    font-size: 25px;
    display: none;
    width: 600px;
  }

  #resume-tools-list {
    list-style-type: none;
    margin-top: 8px;
    font-weight: 450;
    font-size: 25px;
    display: none;
  }

  #resume-subtitle {
    display: block;
    margin-top: 8px;
    font-weight: 450;
    font-size: 30px;
    font-style: normal;
  }

  #resume-projects {
    list-style-type: none;
    margin-top: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: 450;
    display: none;
  }

  #resume-experience {
    list-style-type: none;
    margin-top: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: 450;
    display: none;
  }

  #resume-education {
    list-style-type: none;
    margin-top: 8px;
    font-size: 15px;
    -webkit-appearance: none;
    font-style: italic;
    font-weight: 450;
    display: none;
  }

  #resume-subsubtitle a {
    list-style-type: none;
    margin-top: 8px;
    font-size: 15px;
    font-style: italic;
    font-weight: 450;
  }

  #resume-project-desc {
    font-style: normal;
    width: 300px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
  }

  #resume-experience-desc {
    font-style: normal;
    width: 300px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: normal;
  }

  #azure-link {
    color: white;
    text-decoration: underline solid transparent;
    transition: text-decoration 1s ease;
  }

  #azure-link:hover {
    text-decoration: underline solid Currentcolor;
    outline: 5px solid transparent;
  }

  #outer-container {
    border: none;
  }

  #inner-container {
    margin-left: 0px;
  }
}

/* COLOR BAR!! */
button {
  font-family: "Rubik", sans-serif;
}
path,
i,
svg {
  pointer-events: none;
}
.colors {
  min-height: 60vh;
  margin-top: 2rem;

  display: flex;
  color: rgba(59, 59, 59, 0.856);
  font-family: "Rubik", sans-serif;
}
.color {
  height: 60vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.color h3 {
  font-size: 1.5rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 0%;
  background: rgb(255, 255, 255);
  /*opacity: 0;*/
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  /*pointer-events: none;*/
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  /* We are adding an adjustemnt class */
  /*transform: translateY(100px);*/
  transition: all 0.5s ease-in-out;
}
.sliders.active {
  opacity: 1;
  transform: translateY(0px);
  pointer-events: all;
}
.sliders button,
.close-save,
.close-library {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background: rgb(73, 73, 73);
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.controls {
  display: flex;
  flex-direction: column;
}
.panel {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  justify-content: space-evenly;
  height: 20vh;
}
.panel button {
  font-size: 1.7rem;
  margin: 1rem;
  padding: 1rem 2rem;
  background: #40a0a5;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 1rem;
}
.panel p {
  font-size: 1.2rem;
}
.reset-panel,
.random-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  background: none;
  cursor: pointer;
  margin: 2rem 0rem;
}

/* Slider Stuff */
input[type="range"] {
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}

.color-container {
  position: fixed;
  top: 0%;
  left: 0%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  transition: all 0.5s ease-in-out;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.colors-popup {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 2rem;
  align-self: center;
  transition: transform 0.5s ease;
  transform: translateY(0rem);
  width: 50%;
  min-width: 70%;
  min-height: 30vh;
}

.colors-popup h4 {
  font-size: 2rem;
  padding: 2rem;
}

.color-container.active {
  opacity: 1;
  pointer-events: all;
}

.colors-popup.active {
  transform: translateY(0rem);
}

.save-name {
  font-size: 1.5rem;
  padding: 1rem;
}
.close-save,
.close-library {
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 0.5rem;
}
.submit-save {
  margin: 2rem;
  padding: 1rem 3rem;
  background: rgb(60, 60, 92);
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
}

.library-popup {
  min-width: 40%;
  padding: 1rem;
  justify-content: flex-start;
  overflow-y: scroll;
  max-height: 50vh;
}
.custom-palette {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding: 2rem;
}
.small-preview {
  display: flex;
  flex: 1;
}
.custom-palette h4 {
  flex: 1;
}

.small-preview div {
  height: 5rem;
  flex: 1;
}
.pick-palette-btn {
  height: 5rem;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
  background: rgb(41, 41, 41);
  color: white;
}
